<div style="text-align:center">
  <img src="../assets/logo.jpeg"
  alt="Logo MMB"
  width="170"
  height="200"
  class="logo"
  />
  <h1 class="app-title"> TCO Todo List</h1>


</div>

<div class="container">
  Add a todo...
  <br>
  <input
  type="text"
  class="input-text"
  placeholder="Type a to do "
  />
  <button class="add-btn">Add Todo</button>
<div class="list">
  <ul>
    <li>
      <input type="checkbox" name="isDone">
      Task 1
      <button class="btn">Delete</button>
    </li>
  </ul>
</div>


</div>